<?xml version="1.0" encoding="UTF-8"?>

<element><!-- 属性为事件列中的内容 -->
  <input_path>./input</input_path>
  <output_path>./output/神朔机车智能驾驶试验记录表</output_path>
<col_all>
  <列 日期="日期"></列>
  <列 文件名="XXXX"></列>
  <列 机车号="机车号"></列>
  <列 车次="车次"></列>
  <列 司机号="司机号1+司机号2"></列>
  <列 吨位="总重"></列>
  <列 计长="计长"></列>
  <列 关门车数量="关门车数量"></列>
  <列 里程="里程"></列>
  <列 开车侧线号="侧线号"></列>
  <列 起始站="起始站"></列>
  <列 终点站="终点站"></列>
  <!-- 上行 -->
  <station id="朱盖塔">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合>
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="燕家塔">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合>
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="神木北">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="黄羊城">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="新城川">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="孤山川">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="府谷">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="保德">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="王家寨">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="阴塔">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="韩家楼">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="三岔">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="贺职">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="南坡底">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
<station id="神池南">
  <列组合 侧线股道号="侧线选择|开车侧线号"></列组合 ><!-- 侧线选择|开车侧线号 -->
  <列组合 进站停车距离=""></列组合><!-- 属性为"距离"列中的内容，具体规则待定 -->
  <列组合 机外停车="距离"></列组合><!-- 属性为"距离"列中的内容 -->
</station>
</col_all>
</element>